Indicate scheme to client

From sketching around with coap+tcp and trying to align that with RD-DNS-SD, I found that the current text does not tell to discover the schema:

```
   _oic-d-light._udp.office.example.com      IN PTR
            Spot._oic-d-light._udp.office.example.com
   Spot._oic-d-light._udp.office.example.com IN TXT
            txtver=1;path=/light/1;rt=oic.d.light;d=sector
   Spot._oic-d-light._udp.office.example.com IN SRV
            0 0 5683 node1.office.example.com.
   node1.office.example.com.                 IN AAAA FDFD::1234
```

A client that tries to construct a URI for Spot could construct `://node1.office.example.com/light/1` and infer that it's rt=oic.d.light, but not find that it's `coap`, `coaps` or `coap+ws`.

An easy fix would be to add a `transport=` or `scheme=` into the TXT record; we should probably think about that before we just do it.

ik prefereer instance.-service._coap._udp, maar kan dat?

Peter
chrysn schreef op 2019-07-19 16:26:

> From sketching around with coap+tcp and trying to align that with RD-DNS-SD, I found that the current text does not tell to discover the schema:
> 
> _oic-d-light._udp.office.example.com      IN PTR
> Spot._oic-d-light._udp.office.example.com
> Spot._oic-d-light._udp.office.example.com IN TXT
> txtver=1;path=/light/1;rt=oic.d.light;d=sector
> Spot._oic-d-light._udp.office.example.com IN SRV
> 0 0 5683 node1.office.example.com.
> node1.office.example.com.                 IN AAAA FDFD::1234
> 
> A client that tries to construct a URI for Spot could construct ://node1.office.example.com/light/1 and infer that it's rt=oic.d.light, but not find that it's coap, coaps or coap+ws. 
> 
> An easy fix would be to add a transport= or scheme= into the TXT record; we should probably think about that before we just do it. 
> 
> --
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub [1], or mute the thread [2].
 

Links:
------
[1]
https://github.com/core-wg/rd-dns-sd/issues/9?email_source=notifications&amp;email_token=ADCZGQIEGA5CXEO4VGMNDH3QAIPQBA5CNFSM4IFLTLB2YY3PNVWWK3TUL52HS4DFUVEXG43VMWVGG33NNVSW45C7NFSM4HALWEIQ
[2]
https://github.com/notifications/unsubscribe-auth/ADCZGQMAFJRN32QLBD3G6UTQAIPQBANCNFSM4IFLTLBQ

> ik prefereer instance.-service._coap._udp, maar kan dat?

I think such an approach would mean that a client looking for _service
would need to send a query for all its transports (eg.
instance._service._coap._udp, instance._service._coaps._udp,
instance._service._coaps+tcp._udp etc) -- and don't know whether we like
that consequence.

For whether we kan, I'll go through the DNS-SD docs to find out (or just
ask around :-) ), it might be that it's easier to just drop the ._udp
and have the actual transport in there (instance._service._coap+tcp);
that ._udp isn't doing much there anyway, considered broken by some in
DNS-SD as I understood, and hopefully an extension point.


We still can use the _sub parts, so we can use the first-label to indicate the scheme; that would be aligned with Stuart Cheshire's explanation of "DNS-over-UDP" being one user of the first-part, and "DNS-over-QUIC" being a different user -- where client and server need to agree on one transport.

With that, we'd have a mapping from scheme to (first-label, last-label) tuples, where first-label could even literally be the scheme (if plus signs are allowed in there), and the last-label is `_tcp` for transports that go over TCP and `_udp` is for everything else (that's what they practically mean nowadays).

An exported instance
`<coap+tcp://host/path>;ins=my-name;sv=oic_something`
would then wind up in DNS as
`my-name._oic_something._sub._coap+tcp._tcp IN SRV 5683 0 0 host`
`my-name._oic_something._sub._coap+tcp._tcp IN TXT txtver=1,path=/path`

Sounded good when discussing with Peter earlier, so let's go with that.

The _sub. mechanism was removed from an earlier draft after lengthy
discussion with Messrs.Cheshire and Lemon.  I should think that re-
introducing it for a different purpose will simply renew their objections.

The short argument against _sub. is simply that registering a new Service
Name [RFC6335] is relatively straightforward.  If you have a service that
is available over a profusion of transports, you can register a unique
Service Name for each one.

If there were only two flavors of coap, then the _udp. or _tcp. labels would
be sufficient to distinguish between them.  I expect this label could be
used
as an extension point (if necessary) but it might require changes to
existing
RFCs (e.g. RFC2782).

Finally, I will say that the (my) original motivation for writing this
draft was
to support the interworking of existing HTTPS clients and coap servers
through cross-proxies [RFC8075] so I didn't see a particular need to
distinguish between multiple schemes.  Other applications of the proposal
may differ, of course.

Kerry Lynn

On Sun, Jul 21, 2019 at 11:44 AM chrysn <notifications@github.com> wrote:

> We still can use the _sub parts, so we can use the first-label to indicate
> the scheme; that would be aligned with Stuart Cheshire's explanation of
> "DNS-over-UDP" being one user of the first-part, and "DNS-over-QUIC" being
> a different user -- where client and server need to agree on one transport.
>
> With that, we'd have a mapping from scheme to (first-label, last-label)
> tuples, where first-label could even literally be the scheme (if plus signs
> are allowed in there), and the last-label is _tcp for transports that go
> over TCP and _udp is for everything else (that's what they practically
> mean nowadays).
>
> An exported instance
> <coap+tcp://host/path>;ins=my-name;sv=oic_something
> would then wind up in DNS as
> my-name._oic_something._sub._coap+tcp._tcp IN SRV 5683 0 0 host
> my-name._oic_something._sub._coap+tcp._tcp IN TXT txtver=1,path=/path
>
> Sounded good when discussing with Peter earlier, so let's go with that.
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/core-wg/rd-dns-sd/issues/9?email_source=notifications&email_token=AA42JY4ZE27WHJR75OHCLQLQAR74DA5CNFSM4IFLTLB2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOD2OGDIY#issuecomment-513565091>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AA42JYY25OPNEV4IA346DGLQAR74DANCNFSM4IFLTLBQ>
> .
>


Thanks Kerry, I think I did not get that discussion back then.

What I got from Saturday's chat is that from a DNS-SD PoV, the protocol used should be part of the service name (and not put the scheme in the TXT) because the client doesn't want to get results for which it doesn't have transports anyway. (And also, if the protocol is not in the service name, the same instance name being reused for two aliased URIs of different services would break things).

Whether, coming from that, we advertise a <coap+ws://...>;sv=oic_something to `_oic_something._sub._coap+ws._tcp` or to `_oic_something_coap+ws._tcp` I can't tell from that chat.

I've gone into [DNS-SD](https://tools.ietf.org/html/rfc6763) for guidance, and it says that "if there is no client that wants to find the entire set, then it's neither necessary nor desirable to use the subtype mechanism". I can think of clients that'd use "any coap resource", but they're more management and discovery tools themselves. For "The Typical" CoAP instance, that's probably not a good choice. We still need to have the transport in there per my understanding of Stuart's elaboration, so we'd wind up with the `_oic_something+coap+ws._tcp` style -- not pretty but ... is it the best we can come up with, considering the discussions?

(We still do have room in subservices if applications do turn out to have this flexibility. A coffee machine that's also usable by a generic CoRAL browser could advertise `svs=coffee;sv=coral` as `_coffee._sub._coral+coap+ws._tcp`...)

In terms of action items, we've maybe changed the slides too fast. @petervanderstok, chat over lunch or before? (I'll be out of CBOR at 1130).

On Tue, Jul 23, 2019 at 10:06 AM chrysn <notifications@github.com> wrote:

> Thanks Kerry, I think I did not get that discussion back then.
>
> What I got from Saturday's chat is that from a DNS-SD PoV, the protocol
> used should be part of the service name (and not put the scheme in the TXT)
> because the client doesn't want to get results for which it doesn't have
> transports anyway. (And also, if the protocol is not in the service name,
> the same instance name being reused for two aliased URIs of different
> services would break things).
>
The possible exception is including URIs for closely related protocols,
e.g. HTTP and HTTPS, in the same TXT
to avoid redirection.  Above the transport, the client would see the same
service semantics.

> Whether, coming from that, we advertise a coap+ws://...;sv=oic_something
> to _oic_something._sub._coap+ws._tcp or to _oic_something_coap+ws._tcp I
> can't tell from that chat.
>
It's still not clear to me that coap clients feel a particular need for
DNS-SD, except possibly to discover RDs
(I am not a big fan of manual configuration of devices).  Even then, I
guess you'd need to figure out how to
communicate with the RD, but I suspect the _udp. or _tcp. labels could be
used to reduce the search space.
Someone should probably ask Stuart whether to pursue using that label as an
expansion point.

> I've gone into DNS-SD <https://tools.ietf.org/html/rfc6763> for guidance,
> and it says that "if there is no client that wants to find the entire set,
> then it's neither necessary nor desirable to use the subtype mechanism". I
> can think of clients that'd use "any coap resource", but they're more
> management and discovery tools themselves. For "The Typical" CoAP instance,
> that's probably not a good choice. We still need to have the transport in
> there per my understanding of Stuart's elaboration, so we'd wind up with
> the _oic_something+coap+ws._tcp style -- not pretty but ... is it the
> best we can come up with, considering the discussions?
>
This gets into the longer argument against using _sub.  I originally
thought it would be straightforward for
an SDO to register a Service Name (e.g. _oic.), using that as a delegated
name space and having control
of all service names below through the _sub. mechanism.  Stuart pointed
out, quite rightly, that there would
be nothing to prevent a client from sending a query for `PTR _oic._
udp.example.com` (which would return
a potentially huge response), even though he couldn't imagine a client ever
needing to do this.  He pointed
out that Service Name registration is a relatively low bar, and that the SN
could encode the entire protocol
stack.

Regards, Kerry

> (We still do have room in subservices if applications do turn out to have
> this flexibility. A coffee machine that's also usable by a generic CoRAL
> browser could advertise svs=coffee;sv=coral as
> _coffee._sub._coral+coap+ws._tcp...)
>
> In terms of action items, we've maybe changed the slides too fast.
> @petervanderstok <https://github.com/petervanderstok>, chat over lunch or
> before? (I'll be out of CBOR at 1130).
>
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub
> <https://github.com/core-wg/rd-dns-sd/issues/9?email_source=notifications&email_token=AA42JYZI5AMKVCMWM7KWUNTQA4F7HA5CNFSM4IFLTLB2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOD2THI5I#issuecomment-514225269>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AA42JYZWN7BACQDU36WLG43QA4F7HANCNFSM4IFLTLBQ>
> .
>
